.general_rules{
	background: url('/backgrounds/tower-bg.png');
	
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	padding: 3em;
	.rule-container{
		width: 100%;
		height: 500px;
		padding: 4em;
		mask: linear-gradient(to left,transparent 0%, white 10%, white 95%, transparent 100%);

		.rule-grid{
			flex-direction: column;
			display: flex;
			width: 300px;
			justify-content: flex-start;
			gap: 70px;
			margin-right: 80px;

			.rule{
				margin-top: 10px;
				background: white;
				width: 300px;
				background: linear-gradient(180deg, rgba(255, 255, 255, 0.959) 0%, rgba(255, 255, 255, 0.859) 71%, rgba(255, 255, 255, 0.58) 100%);
				border-radius: 2em;
				box-shadow:0px 0px 5px black;

				.icon-part{
					position: relative;
					// transform: translateY(-50%);
					top: -40px;
					width: 80px;
					height: 80px;
					background: #6675FF;
					rotate: 45deg;
					outline: 4px solid white;
					outline-offset: 5px;
					margin:  0 auto;
					svg{
						width: 100%;
						height: 100%;
						scale: .7;
						color: white;
						rotate: -45deg;
					}
				}
				padding: 0em 2em;
				padding-bottom: 1em;
				p{
					text-align: center;
					color: #6675FF;
					font-size: .8rem;
				}
			}
		}	
	}
}