#page_stream{
	padding-bottom: 400px;

	.schedules{
		background: linear-gradient(180deg, #9833FD 15%, #2F299D 100%);
		margin: 100px 0;
		.content{
			max-width:min( 1000px, 80%);
			max-width: 1200px;

			margin: 0 auto;
			display: grid;
			grid-template-columns: 4fr 1fr;
			align-items: center;

			.sched-part{
				scale: 1.2;
				img{
					max-width: 100%;
					height: 100%;
					width: 100%;
					width: 1000px;
					height: 500px;
					border: 2px solid white;
					outline: 3px solid #F8AF0F;
					outline-offset: 5px;
					transition: all 500ms ease;
					box-shadow: 0px 0px 15px black;
					object-fit: cover;
				}
				&:hover{
					background:rgba(255, 255, 255, 0.55);
					img{
						object-fit: contain;
						outline-offset: 11px;
					}
				}
			}
			.btn-styled{
				box-shadow: 2px 2px 14px #001aff7d;
				text-shadow: 2px 2px 4px #001affb7;

			}
			&:hover{
				.sched-detail{
					translate: 10%;

				}
			}
			.sched-detail{
				margin-left: -50px;
				background: linear-gradient(180deg, #F1FAFF 0%, #F1FAFF 50%, rgba(255, 255, 255, 0.547) 100%);
				padding: 2em 1em;
				border-radius: .25em;
				box-shadow: 0px 0px 15px black;
				max-width: 300px;
transition: all 450ms;
			
				h2{
					color: #D87CFF;
					letter-spacing: .3em;
				}
				p{
					color: #6675FF;
				}
				img{
					max-width: 300px;
				}
				text-align: center;
				z-index: 1;
				.btn-styled{
					background: #2F299D;
					border: 2px solid #2DFFFF;
				}
			}
		}
	}

	.sponsors{
		background: #9833fd55;
		background-size: 100%;
		background-blend-mode: multiply;
		backdrop-filter: blur(5px);
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.444);
		// margin: 100px 0;
		margin: 200px 0;
	
		.confine{
			max-width: min(1000px,85%);
			
			margin:  0 auto;
			display: grid;
			grid-template-columns: 1fr 1.2fr;
			align-items: center;
			gap: 1em;
			article{
				.spon-head{
					display: flex;
					// justify-content: center;
					align-items: center;
					gap: 1em;
				}
				h2{
					font-size: 2rem;
					margin: .5em 0;
					color: #2DFFFF;
					text-shadow: 2px 2px 3px #0e0e1278;
				}
				hr{
					width: 100%;
					height: 2px;
					background:#2DFFFF;
					border: none;
				}
				p{
					color: #7499F9;
					text-shadow: 2px 2px 3px #0e0e1278;

				}

				.contact-mail{
					text-shadow: 2px 2px 3px #0e0e1278;
					font-family: var(--fontMain);
					margin: 1em;
					position: relative;
					&::before{
						content:'';
						position:absolute;
						top:70%;
						z-index: -2;
						left:0%;
						width:100%;
						height:10px;
						background: #F8AF0F;
					}

				}
			}
			.spon-list{
				// max-width: 50%;
				// display: flex;
				// align-items: center;
				// justify-content: center;
				width: 50%;
				gap: 1em;
				.sponsor-slider{
					width: 500px;
					height: 100%;
					.sponsor-slide{
						padding: 1em;
						transition: all 450ms ease;
						&:hover{
							scale: 1.05;
							cursor: pointer;
						}
						width: 300px;
						height: 300px;
					}
				}
				.sponsor-img{
					// max-width: 100%;
					width: 300px;
					height: 300px;
					background: #747EC5;
					transition: all 450ms ease;
					border: 2px solid #F8AF0F;
					max-height: 300px;
				}
			}
			position: relative;
			.swiper-navigation{
				position: absolute;
				top: 80%;
				left: 0%;
				display: flex;
				z-index: 10;
				width: 100%;
				.btn{
					img{
						max-width: 80px;

					}
					&.swiper-button-disabled{
						opacity: .5;	
						scale: 0.8;
					}
				}
				.swiper-next{
					rotate: 180deg;
				}
			}
		}
			&:hover{
			.spon-art{
				img{
					scale: 1.3;
				}
			}
		}
	}

	.goals{

		.goals-head{
			display: flex;
			justify-content: center;
			background: url('/backgrounds/kingdom-bg.png');
			background-position: center;
			background-attachment: fixed;
			color: white;
			align-items: center;
			h2{
				font-size: 4rem;
				margin: .25em 2em;
				font-family: var(--fontAlt);
			}
			hr{
				background: white;
				height: 2px;
				width: 100%;
			}
		}
		.goals-list{
			max-width: min(1000px,80%);
			margin: 100px auto;
			// display: flex;
			// justify-content: center;
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: .55em;
			
			.title{
				color: #F8AF0F;
				text-align: center;
				font-size: 1.5rem;
				margin-bottom: .55em;
			}
			.description{
				color:#7499F9;
				padding: .25em;
				padding-bottom: 2em;
			}
			.goal-container{
				background: #749af922;
				backdrop-filter: blur(10px);
				border-radius: 2em;
				box-shadow: 0px 0px 15px rgba(30, 18, 41, 0.273);
				padding: 20px 30px;

				.lf-goals{
					background: url('/backgrounds/galaxy_subtle.png'), linear-gradient(180deg, #cd2ff1af 0%, rgba(113, 127, 255, 0.663) 100%);
					padding: 2em;
					display: flex;
					flex-direction: column;
					gap: 2em;
					
					position: relative;
					--height:1;
					.goal{
						position: relative;

						&:first-of-type{
							&::before{
								content:'';
								position:absolute;
								top:5%;
								left: 7px;
								// left:9%;
								width:5px;
								height:300%;
								scale: 1 var(--height);
								transform-origin: top;
								background: linear-gradient(white 0%, transparent 100%);

							}
						}
						color: white;
						display: grid;
						grid-template-columns: 30px 1fr;
						gap: 1em;
						.circle-container{
							.circle{
								width: 20px;
								height: 20px;
								background-color: white;
								border-radius: 100%;
							}
						}
					}
				}

				.r-goals{
					display: flex;
					flex-direction: column;
					justify-content: center;
					gap: 1.25em 2em;

					--height:2;
					.goal{

						background: linear-gradient(180deg, rgba(0, 195, 255, 0.928) 0%, rgba(255, 188, 45, 0.928) 100%), url('/backgrounds/galaxy_slight.png');
						background-blend-mode: screen;
						padding: .25em 1em;
						border-radius: 2em;
						color: #3340B7;
						display: grid;
						grid-template-columns: 30px 1fr;
						transition: all 550ms ease;
						&:not(:first-of-type):hover{
							scale: 1.2;
							transform-origin: left;
							// transform: translateX(10%);
						}
						position: relative;
						&:first-of-type{
							&::before{
								content:'';
								position:absolute;
								top:55%;
								left: 28px;
								z-index: 2;
								// left:9%;
								width:5px;
								height:130%;
								scale: 1 var(--height);
								transform-origin: top;
								background: linear-gradient(#2F299D 0%, #2F299D 70%, transparent 100%);

							}
						}
						color: #2F299D;
						display: grid;
						grid-template-columns: 30px 1fr;
						gap: 1em;
						.circle-container{
							display: flex;
							justify-content: center;
							align-items: center;
							.circle{
								width: 20px;
								height: 20px;
								background-color: #2F299D;
								border-radius: 100%;
							}
						}

						.goal-text{
							margin: .25em 0;
							p{
								font-size: 1.1rem;
							}
							.date{
								font-weight: bold;
								font-size: .8rem;
							}
						}
					}
				}
			}
		}
	}



	.credits{

		.credit-header{
			// display: center;
			max-width: min(1200px,80%);
			margin:  0 auto;
			.confine{
				max-width: 50%;

				.credit-title{
					color: #C55CEA;
					font-weight: bold;
					font-size: 2rem;
					position: relative;
					letter-spacing: 3px;
					
					&::before{
						// text-decoration: ;
						content:'';
						position:absolute;
						bottom:-5%;
						right:0%;
						width:80%;
						height:2px;
						background: #C55CEA;
					}
				}
				p{
					font-size: .9rem;
					color: #939ADB;
					margin: 1em;
				}
			}
		}
		.credit-list{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			max-width: min(1400px, 90%);
			margin:  0 auto;
			.credit{
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;
				transition: scale 250ms ease;
				margin-top: 100px;
				margin-inline: 2em;
				&:hover{
					cursor: pointer;
					scale: 1.05;

					.credit-img{
						outline-offset: 5px;
					}
				}
				// rotate: 45deg;
				.credit-img{
					rotate: 45deg;
					overflow: hidden;
					transition: all 250ms ease;
					height: 40px;
					width: 40px;
					outline: 1px solid #C55CEA;
					outline-offset: 2px;
					display: flex;
					scale: 2.4;
					margin-bottom: 3.6em;
					.pfp{
						scale: 1.4;
						// width: 150px;
						width: 100%;
						height: 100%;
						// height: 150px;
						rotate: -45deg;
						background-size: top;
						object-position: center;
						object-fit: cover;
					
					}
				}

				.role{
					color: #F8AF0F;
					font-size: .8rem;
					
				}
				.name{
					color: #2DFFFF;
					font-weight: bold;
					font-size: 1.2rem;
					text-shadow: 0px 0px 4px #3b0b6beb;
				}
			}
		}
	}

	.fandom{
		background: linear-gradient(102deg, rgba(216, 124, 255, 0.26) 0%, rgba(189, 39, 223, 0) 100%) ,url('/backgrounds/galaxy_subtle.png');
		background-size: cover;
		background-attachment: fixed;
		margin-top: 300px;
		min-height: 400px;
		padding: 2em;
		z-index: -20;
		backdrop-filter: blur(20px);

		.content{
			display: grid;
			grid-template-columns: repeat(2,1fr);
			align-items: center;
			gap: 2em;
			max-width: 1200px;
			margin: 0 auto;
			padding: 2em;


			.story-part{
				.salvere-title{
					display: flex;
					align-items: center;
					gap: 1em;
					// justify-content: center;
					filter: drop-shadow( 2px 2px 5px #f8ae0f8b);
					h2{
						color: #F8AF0F;
						// shadow:;
						font-size: 2.7rem;
					}
					hr{
						width: 100px;
						height: 3px;
						border: none;
						background: #F8AF0F;
					}
				}
				.story-text{
					white-space: pre-line;
					color: white;
					text-shadow: 1px 1px 5px #dbdfff6a;
					font-size: 1.2rem;
					min-height: 320px;
					margin-top: 1em;
				}
				.action{
					display: flex;
					align-items: center;
					gap: .25em;
					flex-direction: row;
				}
				.controls{
					display: flex;
					align-items: center;
					// justify-content: center;
					gap: 1em;
					margin: 1em 0;
					.page-indicator{
						font-size: 1.5rem;
						color: #D87CFF;
						text-shadow: 0px 0px 5px #ffffff64;

					}
					.btn-ctrl{
						color: #653977;
						background: white;
						border-radius: 100%;
						width: 40px;
						height: 40px;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 1.5rem;
						box-shadow: 0px 0px 5px #ffffff64;
						
					}
				}
			}
			
			figure{
				padding: 1em;
				// background: #2F299D;
				height: 100%;
				.story-image{
					background: #3D176F;
					border: 2px solid #FFC738;
					border-radius: 2em;
					width: 100%;
					height: 100%;
				}
			}
		}

	}

	.collabs{
		margin-top: 600px;
		.art-part{
			background: url('/backgrounds/shatter_slight.png'),linear-gradient(180deg, #9A34FE 0%, #752BBD 100%);
			display: flex;
			border: 4px solid #F8AF0F;
			justify-content: center;
			img{
				margin-top: -300px;
				// margin-inline: auto;
			}
		}

		.collab-text{
			margin: 0 auto;
			// max-width: 100%;
			text-align: center;
			background: #5585ff4a;
			backdrop-filter: blur(5px);
			margin: .55em 0;

			.description{
				padding: 1em ;
				max-width: min(500px,60%);
				margin:0 auto;
				font-size: 1.3rem;
				color: #2DFFFF;
				text-shadow: 2px 2px 4px #0047FF;
				
			}
		}
		.action{
			display: flex;
			justify-content: center;
			margin: 50px 0;
			gap: 2em;
			.collab-links{
				display: flex;
				gap: 2.5em;
				.collab-link{
					background-color: #3340B7;
					outline: 2px solid #3340B7;
					outline-offset: 2px;
					width: 45px;
					height: 45px;
					color: white;
					display: flex;
					justify-content: center;
					align-items: center;
					rotate: -45deg;
					svg{
						scale: 1.5;
						rotate: 45deg;
					}
					// outline-offset: 2px;
				}
			}
		}
	}
}