.page-title{
	text-align: center;
	padding: 2em;
	background: #232337;

	margin-top: 70px;
	.text-part{
		scale: 5;
		position: relative;
		z-index: 10;
		.subtitle{
			color: white;
			letter-spacing: 3px;
			font-size: .3rem;
			text-shadow: 2px 4px 15px black;
			text-shadow: 0px 0px 2px #6675FF,2px 4px 15px black;

		}
		.title{
			color: #6675FF;
			text-shadow: 0px 0px 2px #6675FF,2px 4px 15px black;
			font-size: 1rem;
			line-height: 110%;
			font-family: var(--fontAlt);
		}
	}

	position: relative;
	.decor_diamonds{
		position: absolute;
		display: flex;
		justify-content: center;
		gap: 4em;
		top: -20%;
		left: 0%;
		width: 100%;
		scale: .8;
		opacity: .3;
		.diamonds{
			width: 130px;
			height: 130px;
			background: #E91084;
			rotate: 45deg;
			outline: 2px solid #E91084;
			outline-offset: 5px;
			opacity: .9;
			&.a{
				scale: .8;
			}
		}
	}

}

@media screen and (max-width:768px) {
	.page-title{
		.text-part{
			// .subt
			scale: 4;
		}
		.decor_diamonds{
			scale: .6;
		}
	}
}

@media screen and (max-width:550px) {
	.page-title{
		.text-part{
			// .subt
			scale: 3;
		}
		.decor_diamonds{
			scale: .4;
		}
	}
}
@media screen and (max-width:420px) {
	.page-title{
		.text-part{
			// .subt
			scale: 2;
		}
		.decor_diamonds{
			scale: .3;
		}
	}
}